In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA

In [ ]:
df = pd.read_excel("Superstore_Sales_Records.xls",index_col="Order Date", parse_dates=True)[["Sales"]].resample("MS").sum()

train_size = int(0.8 * len(df)) 
df_train = df[:train_size]
df_test = df[train_size:]

a = pd.DataFrame()
a["train"] = df_train.copy()
a["test"] = df_test.copy()


a.plot()

                 train  test
Order Date
2014-01-01  14236.8950   NaN
2014-02-01   4519.8920   NaN
2014-03-01  55691.0090   NaN
2014-04-01  28295.3450   NaN
2014-05-01  23648.2870   NaN
2014-06-01  34595.1276   NaN
2014-07-01  33946.3930   NaN
2014-08-01  27909.4685   NaN
2014-09-01  81777.3508   NaN
2014-10-01  31453.3930   NaN
2014-11-01  78628.7167   NaN
2014-12-01  69545.6205   NaN
2015-01-01  18174.0756   NaN
2015-02-01  11951.4110   NaN
2015-03-01  38726.2520   NaN
2015-04-01  34195.2085   NaN
2015-05-01  30131.6865   NaN
2015-06-01  24797.2920   NaN
2015-07-01  28765.3250   NaN
2015-08-01  36898.3322   NaN
2015-09-01  64595.9180   NaN
2015-10-01  31404.9235   NaN
2015-11-01  75972.5635   NaN
2015-12-01  74919.5212   NaN
2016-01-01  18542.4910   NaN
2016-02-01  22978.8150   NaN
2016-03-01  51715.8750   NaN
2016-04-01  38750.0390   NaN
2016-05-01  56987.7280   NaN
2016-06-01  40344.5340   NaN
2016-07-01  39261.9630   NaN
2016-08-01  31115.3743   NaN
2016-09-01  73410.0249   NaN
2016-10-01  59687.7450   NaN
2016-11-01  79411.9658   NaN
2016-12-01  96999.0430   NaN
2017-01-01  43971.3740   NaN
2017-02-01  20301.1334   NaN